/*
 Theme Name:   Tim Expedia API (Twenty Fifteen Child)
 Description:  Provides page for Hotels search
 Author:       Tymur Morozov
 Template:     twentyfifteen
 Version:      1.0.0
*/

body {
  background-color: red;
}